<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">

    <test name="Create User Test">
        <classes>
            <class name="API_chaining.create_user"/>
        </classes>
    </test>

    <test name="Get User Test">
        <classes>
            <class name="API_chaining.getUser"/>
        </classes>
    </test>

    <test name="Update User Test">
        <classes>
            <class name="API_chaining.update_user"/>
        </classes>
    </test>

    <test name="Update delete Test">
        <classes>
            <class name="API_chaining.delete_user"/>
        </classes>
    </test>

</suite>